target/
microService/firestore_send/team.json
microService/firestore_send/admin.json
microService/get_all_teams/lib
.idea
microService/get_all_teams/CSA
microService/get_all_teams/pyvenv.cfg
src/comp/avg/.DS_Store
.DS_Store
admin.json
microService/firestore_send/bin
.env
log.log
