target/
microService/firestore_send/team.json
microService/get_all_teams/lib
.idea
microService/get_all_teams/CSA
microService/get_all_teams/pyvenv.cfg
src/constant.rs

src/http/year_around/.DS_Store

.DS_Store
microService/firestore_send/admin.json
microService/firestore_send/bin
